/* Set the width and height, font-family and other global settings. */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* Setting the Heading variables */
h1 {
    text-align: center;
    font-size: 150%;
}
h2 {
    font-size: 140%;
}
h3 {
    font-size: 130%;
}
h4 {
    font-size: 120%;
}

/* Setting the header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Styles for the wrapper class */
.wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    justify-content: center;
}

/* Styles for the start section */
.start {
    text-align: center;
}

/* Styles for the question section */
.questions {
    width: 70vw;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    padding: 20px;
}

/* Styles for the answer section */
.answers {
    margin-left: 20px;
    padding: 0px 0 10px 0px;
}

/* Styles for the answer div's */
.answers div {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 50vw;
    background-color: blueviolet;
    color: white;
}

/* Styles to handle the hover effect */
.answers div:hover {
    background-color: violet;
}

/* Styles to  handle the highscore links */
.highScoreLink {
    display: inline;
}

/* Styles for the High score list */
.highScores {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Styles the odd numbered child high score items */
.listHighScores div:nth-child(odd) {
    background-color:rgba(138, 43, 226, 50%);
}
/* Add some margin between the buttons on the high score page and the list.  */
.buttonDiv {
    margin-top: 10px;
}

/* Styles the error message */
.error {
    color: red;
    display: none;
}

/* Formatting the managed the different screen sizes.  Since the application was built Mobile-First */
@media screen and (min-width: 512px) {
    .wrapper {
         width: 50%;
    }
    .questions {
        width: 50vw;
    }
    .highScores {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 50%;
    }
 
    .questions {
        width: 50vw;
    }
    .highScores {
        width: 75%;
    }
 }
 
@media screen and (min-width: 900px) {
    .answers div {
        width: 30vw;
    }

    .highScores {
        width: 50%;
    }
}

@media screen and (min-width: 1300px) {
    .answers div {
        width: 30vw;
    }

    .highScores {
        width: 30%;
    }
    
}

