body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
    font-size: 150%;
}
h2 {
    font-size: 140%;
}
h3 {
    font-size: 130%;
}
h4 {
    font-size: 120%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.answers {
    margin-left: 20px;
}
.answers div {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 50vw;
    background-color: blueviolet;
    color: white;
}

.answers div:hover {
    background-color: violet;
}

.highScoreLink {
    display: inline;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    justify-content: center;
}

.start {
    text-align: center;
}

.questions {
    width: 70vw;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    padding: 20px;
}

.answers {
    padding: 0px 0 10px 0px;
}

.highScores {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.listHighScores div:nth-child(odd) {
    background-color:rgba(138, 43, 226, 50%);
}

.error {
    color: red;
    display: none;
}
.buttonDiv {
    margin-top: 10px;
}
.GameOver {
    display: none;
}

@media screen and (min-width: 512px) {
   .wrapper {
      width: 50%;
   }

   .questions {
    width: 50vw;
   }
   .highScores {
    width: 50%;
}
}
@media screen and (min-width: 768px) {
    .wrapper {
       width: 50%;
    }
 
    .questions {
     width: 50vw;
    }
    .highScores {
     width: 75%;
 }
 }
@media screen and (min-width: 900px) {
    .answers div {
        width: 30vw;
    }

    .highScores {
        width: 50%;
    }
}

@media screen and (min-width: 1300px) {
    .answers div {
        width: 30vw;
    }

    .highScores {
        width: 30%;
    }
    
}

